.m_menu-button {
	display: flex;
	flex-direction: column;
	grid-column: 1;
	align-items: center;
	align-self: center;
	justify-content: center;
	pointer-events: all;
	
	&__button {
		display: none;
		padding-top: 3px;
		
		&:hover {
			cursor: pointer;
		}
	}
}