@use "../../global/_mixin.scss" as m;

@include m.mq(tb) {
	.footer {
		display: flex;
		align-items: center;
		margin-top: 4rem;
		padding-inline: 3rem;

		&__wrapper {
			@include m.pc-grid-column();
		}
	
		&__outer {
			display: flex;
		}

		&__block {
			flex-basis: 30%;
			padding: 0 8% 0 0;
		}

		&__listPrimary {
			display: flex;
			flex-basis: 70%;
			margin-top: 0;
		}

		&__itemPrimary {
			flex: 0 0 25%;
			border: none;
			padding-left: 1.25rem;
	
			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				border-bottom: none;
			}
		}
	
		&__inner {
			&:not(:first-child) {
				margin-top: 2rem;
			}
		}

		&__title {	
			&--small {
				display: block;
				padding-top: 0;
				padding-bottom: 0.75rem;
			}
		}

		&__chevron {
			display: none;
		}

		&__listSecondary {
			visibility: visible;
			opacity: unset;
			height: auto;
		}

		&__socialWrapper {
			display: flex;
			justify-content: space-between;
			margin-top: 3.55rem;
		}

		&__legalLinks {
			display: flex;
			justify-content: space-between;
			margin-top: 1.8rem;
			border-top: 1px solid rgb(var(--color-gray));
			padding: 2.3rem 0 2rem 0;;
		}

		&__cookie {
			margin-right: 0;
			margin-left: 1.4rem;
			padding: 0;
		}

		&__legalLinkInner {
			margin-top: 0;
		}
	}
}